<a href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add new Post</h2>
</div>
<form action="/admin/add-post" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" name="title">

    <label for="body"><b>Content</b></label>
    <textarea placeholder="Enter body" name="body" rows="10" cols="30"></textarea>
    
    <input type="submit" value="Add" class="btn">
</form>