<h3>
    Sign in
</h3>
<form action="/admin/login" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username">

    <label for="username"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input type="submit"  value="Login" class="btn ">
<!-- </form>
<h3>
    Register
</h3>
<form action="/admin/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username">

    <label for="username"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input type="submit"  value="Register" class="btn ">
</form> -->